<?xml version="1.0"?>
<launch>
    <arg name="hz" default="20"/>
    <arg name="max_speed" default="1.0"/>
    <arg name="max_yawrate" default="1.0"/>
    <arg name="vel_ratio" default="0.5"/>
    <arg name="safety_distance" default="0.6"/>
    <arg name="goal_distance" default="0.2"/>
    <arg name="collision_distance" default="0.4"/>
    <arg name="dt" default="0.1"/>
    <arg name="predict_time" default="2.0"/>
    <arg name="safety_collision_time" default="0.5"/>
    <arg name="recovery_mode_threshold" default="60"/>
    <arg name="trigger_count_threshold" default="2"/>
    <arg name="stop_sound_path" default="$(find motion_decision)/sounds/warning1.wav"/>
    <arg name="recovery_sound_path" default="$(find motion_decision)/sounds/warning2.wav"/>
    <arg name="task_stop_sound_path" default="$(find motion_decision)/sounds/decision4.wav"/>

    <node pkg="motion_decision" type="motion_decision" name="motion_decision" ns="local_planner">
        <param name="HZ" value="$(arg hz)" type="int"/>
        <param name="MAX_SPEED" value="$(arg max_speed)" type="double"/>
        <param name="MAX_YAWRATE" value="$(arg max_yawrate)" type="double"/>
        <param name="VEL_RATIO" value="$(arg vel_ratio)" type="double"/>
        <param name="GOAL_DISTANCE" value="$(arg goal_distance)" type="double"/>
        <param name="COLLISION_DISTANCE" value="$(arg collision_distance)" type="double"/>
        <param name="DT" value="$(arg dt)" type="double"/>
        <param name="PREDICT_TIME" value="$(arg predict_time)" type="double"/>
        <param name="SAFETY_COLLISION_TIME" value="$(arg safety_collision_time)" type="double"/>
        <param name="RECOVERY_MODE_THRESHOLD" value="$(arg recovery_mode_threshold)" type="int"/>
        <param name="TRIGGER_COUNT_THRESHOLD" value="$(arg trigger_count_threshold)" type="int"/>
        <param name="STOP_SOUND_PATH" value="$(arg stop_sound_path)"/>
        <param name="RECOVERY_SOUND_PATH" value="$(arg recovery_sound_path)"/>
        <param name="TASK_STOP_SOUND_PATH" value="$(arg task_stop_sound_path)"/>
        <remap from="/cmd_vel" to="/cmd_vel"/>
    </node>
</launch>
